<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://drive.google.com/file/d/1J_JxwxW52ldZLVlZ-35Tv2bNqLRsKWHP/view?usp=sharing"
    />
  </head>
  <body>
    <header id="header">
      <img src="/images/logo.png" alt="" />
      <div id="headerDiv">
        <h1 id="headerTitre">Planète T-shirt</h1>
        <ul class="menu">
          <li id="acceuil"><a href="/acceuil">Acceuil</a></li>
          <li id="catalogue"><a href="/catalogue">Catalogue</a></li>
          <li id="panier"><a href="/panier">Panier</a></li>
          <% if(user===null) { %>
          <li id="conexion"><a href="/connection">Connexion</a></li>
          <% } else{ %>
          <li id="conexion"><a href="/profile">Profile</a></li>
          <% } %>
          <li id="boutique"><a href="/boutiques">boutiques</a></li>
        </ul>
      </div>
    </header>
    <main id="boutique">
      <div class="create">
        <h1>Modifier l'article " <%= article.libelle %> "</h1>
        <form action="/article/update/<%= article._id %>" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Libelle</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="libelle"
              required
              value="<%= article.libelle %>"
            />
          </div>
          <br />

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image Url</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="image"
              required
              value="<%= article.image %>"
            />
          </div>
          <br />
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Description</label
            >
            <textarea
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="description"
              required
            >
              <%= article.description %>
            </textarea>
          </div>

          <br />

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Prix</label>
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="price"
              required
              value="<%= article.price %>"
            />
          </div>
          <br />

          <button type="submit" class="btn btn-primary">
            Modifier produit
          </button>
        </form>
      </div>
    </main>
    <footer id="footer">
      <div id="divFooter">
        <a href="https://planette-thirt/contact.com/">
          <img src="images/logo_contact.png" alt="contact" />
        </a>
        <ul id="ulFooter">
          <li id="liInstagram">
            <a href="https://instagram.com/"
              ><img src="images/logo_instagram.png" alt=""
            /></a>
          </li>
          <li id="liFacebook">
            <a href="https://facebook.com/"
              ><img src="images/logo_facebook.png" alt=""
            /></a>
          </li>
          <li id="liTwitter">
            <a href="https://twitter.com/"
              ><img src="images/logo_twitter.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
