<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://drive.google.com/file/d/1J_JxwxW52ldZLVlZ-35Tv2bNqLRsKWHP/view?usp=sharing"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <header id="header">
      <img src="/images/logo.png" alt="" />
      <div id="headerDiv">
        <h1 id="headerTitre">Planète T-shirt</h1>
        <ul class="menu">
          <li id="acceuil"><a href="/acceuil">Acceuil</a></li>
          <li id="catalogue"><a href="/catalogue">Catalogue</a></li>
          <li id="panier"><a href="/panier">Panier</a></li>
          <% if(user===null) { %>
          <li id="conexion"><a href="/connection">Connexion</a></li>
          <% } else{ %>
          <li id="conexion"><a href="/profile">Profile</a></li>
          <% } %>
          <li id="boutique"><a href="/boutiques">boutiques</a></li>
        </ul>
      </div>
    </header>

    <main id="catalogue">
      <div id="cataloqueDiv">
        <h1>Catalogue</h1>
        <h2 class="error-message center"><%= article_error %></h2>
        <article>
          <form
            action="/ajouter_au_panier/<%= article._id %>"
            method="post"
            id="articleMain "
          >
            <h2><%= article.libelle %></h2>
            <p class="pCatalogue"><%= article.description %></p>
            <img class="articleImg" src="<%= article.image %>" alt="" />
            <div class="taille">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="size"
                  value="S"
                  required
                  id="inlineRadio1"
                />
                <label class="form-check-label" for="inlineRadio1">S</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="size"
                  value="M"
                  required
                  id="inlineRadio2"
                />
                <label class="form-check-label" for="inlineRadio2">M</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="size"
                  value="L"
                  required
                  id="inlineRadio3"
                />
                <label class="form-check-label" for="inlineRadio3">L</label>
              </div>
            </div>
            <p>tarif: 15 euros</p>

            <button type="submit" class="ajoutPanier">ajouter au panier</button>

            <button type="button" class="retourCatalogue">
              <a href="/catalogue">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-return-left"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"
                  />
                </svg>
              </a>
            </button>
          </form>
        </article>
        <hr />
      </div>
    </main>

    <footer id="footer">
      <div id="divFooter">
        <a href="https://planette-thirt/contact.com/">
          <img src="/images/logo_contact.png" alt="contact" />
        </a>
        <ul id="ulFooter">
          <li id="liInstagram">
            <a href="https://instagram.com/"
              ><img src="/images/logo_instagram.png" alt=""
            /></a>
          </li>
          <li id="liFacebook">
            <a href="https://facebook.com/"
              ><img src="/images/logo_facebook.png" alt=""
            /></a>
          </li>
          <li id="liTwitter">
            <a href="https://twitter.com/"
              ><img src="/images/logo_twitter.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
