<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://drive.google.com/file/d/1J_JxwxW52ldZLVlZ-35Tv2bNqLRsKWHP/view?usp=sharing"
    />
    <script src="../JS/class/Menu.js" defer></script>
  </head>
  <body>
    <header id="header">
      <img src="/imgages/logo.png" alt="" />
      <div id="headerDiv">
        <h1 id="headerTitre">Planète T-shirt</h1>
        <ul class="menu">
          <li id="acceuil"><a href="/acceuil">Acceuil</a></li>
          <li id="catalogue"><a href="/catalogue">Catalogue</a></li>
          <li id="panier"><a href="/panier">Panier</a></li>
          <% if(user===null) { %>
          <li id="conexion"><a href="/connection">Connexion</a></li>
          <% } else{ %>
          <li id="conexion"><a href="/profile">Profile</a></li>
          <% } %>
          <li id="boutique"><a href="/boutiques">boutiques</a></li>
          <li id="boutique"><a href="/profile">profile</a></li>
        </ul>
      </div>
    </header>
    <main id="panier">
      <h1>Historique Panier</h1>

      <% ancientPaniers.forEach((panier,index)=>{ %>
      <div class="lignePanier">
        <h2>Panier <%= index+1 %></h2>
        <h3>Prix Total : <%= panier.totalprice %></h3>
        <div class="orders_history">
          <% panier.orders.forEach((order)=>{ %>
          <div class="order_history">
            <img class="prod_img" src="<%= order.idProd.image %>" />
            <div>
              <h2 class="prod_title"><%= order.idProd.libelle %></h2>
              <p>taille : <%= order.size %></p>
              <p>tarif : <%= order.idProd.price %> €</p>
            </div>
          </div>
          <% }) %>
        </div>
        <div>
          <h3>boutique : boutique X</h3>
          <h3>
            Date de ramassage : <%= new
            Date(panier.pick_up_date).getFullYear()%>/ <%= new
            Date(panier.pick_up_date).getMonth()+1 %>/ <%= new
            Date(panier.pick_up_date).getDate() %>
          </h3>
        </div>
      </div>
      <hr style="width: 30%" />

      <% }) %>
    </main>
    <footer id="footer">
      <div id="divFooter">
        <ul id="ulFooter">
          <li id="liContact">
            <a href="https://planette-thirt/contact.com/">
              <img src="/imgages/logo_contact.png" alt="contact" />
            </a>
          </li>
          <li id="liInstagram">
            <a href="https://instagram.com/"
              ><img src="/imgages/logo_instagram.png" alt=""
            /></a>
          </li>
          <li id="liFacebook">
            <a href="https://facebook.com/"
              ><img src="/imgages/logo_facebook.png" alt=""
            /></a>
          </li>
          <li id="liTwitter">
            <a href="https://twitter.com/"
              ><img src="/imgages/logo_twitter.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
